<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""defaultHref=" /">
        </ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Productos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div id="container">
    <ion-card>
      <img src=".. /../assets/1.jpg">
    </ion-card>
    <ion-card>
      <img src=".. /../assets/2.jpg">
    </ion-card>
    <ion-card>
      <img src=".. /../assets/3.jpg">
    </ion-card>
    <ion-card>
      <img src=".. /../assets/4.jpg">
    </ion-card>
    <ion-card>
      <img src=".. /../assets/5.jpg">
    </ion-card>
    <ion-card>
      <img src=".. /../assets/6.jpg">
    </ion-card>
  </div>
</ion-content>